# Maven - garder seulement le jar
target/classes/
target/generated-sources/
target/maven-archiver/
target/maven-status/
target/*.jar.original

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
